* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    font-family: "Inter", sans-serif;

    --background-color: #03101D;
    --azul-escuro: #061A2B;
    --color-white: #ffffff;
    --verde-agua: #64CED3;
    --roxo: #A855F7;
    --lilas: #C6ADFF;
  }

  body {
    background: var(--background-color);
    color: var(--color-white);

    overflow: hidden
  }

  /* header {
    background: var(--roxo);
    padding: 1.2rem 9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-white);
    text-transform: uppercase;
  }

  header .links ul {
    display: flex;
    list-style: none;
    gap: 50px;
  }

  header .links ul li a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--color-white);
    opacity: 75%;

    transition: 0.3s;
  }

  header .links ul li a:hover {
    opacity: 100%;
  } */

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  main .inputs {
    padding: 3rem 9rem;
  }
  
  main .tabela {
    padding: 3rem 7rem;
  }

  main .inputs form {
    display: flex;
    flex-direction: column;
    gap: 35px;

    /* padding: 0 4rem; */
  }

  main .inputs h2 {
    margin-bottom: 50px;
    color: var(--lilas);
  }

  main .inputs form .input {
    display: flex;
    flex-direction: column;
  }

  main .inputs form .input label {
    font-size: 1rem;
    font-weight: 500;

    margin-bottom: 10px;
  }

  main .inputs form .input input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    border: 2px solid #0a2e4e;
    background: #08243d;

    font-size: 0.9rem;
    color: var(--color-white);
  }

  main .inputs form .input input:focus {
    outline: 2px var(--verde-agua) solid;
  }

  main .inputs form .input .valor-P, .valor-erro {
    margin-top: 20px;
  }

  #valorP-open, #valorErro-open {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border: none;
    background: #A855F720;

    font-size: 0.9rem;
    font-weight: 600;
    color: var(--lilas);

    cursor: pointer;
    transition: 0.3s;
  }

  #valorP-open:hover, #valorErro-open:hover {
    background: #A855F735;
  }

  main .inputs form .options-radios .radios {
    display: flex;
    gap: 50px;

    margin-top: 20px;
  }

  main .inputs form .options-radios .radios .radio input[type="radio"] {
    appearance: none;

    border: 1px solid var(--verde-agua);
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50%;
  }

  main .inputs form .options-radios .radios .radio input[type="radio"]:checked {
    background-image: radial-gradient(var(--background-color) 30%, var(--verde-agua) 50%);
  }

  main .inputs form .options-radios .radios .radio:not(:has(input[type="radio"]:checked)) {
    opacity: 70%;
  }

  main .inputs #btnSubmit {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background: #9333EA;
    border: none;
    margin-top: 30px;

    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    transition: 0.3s;
  }

  main .inputs #btnSubmit:hover {
    background: var(--roxo);
  }

  /* tabela */

  main .tabela table {
    margin-bottom: 40px;
  }

  main .tabela table tr {
    margin-top: 10px;
  }

  main .tabela table tr th {
    background: #a955f75d;
    padding: 0.5rem 1rem;
    border-radius: 5px 0px 0px 5px;
    width: 250px;

    text-align: left;
  }

  main .tabela table tr td {
    background: #a955f728;
    padding: 0.5rem 1rem;
    border-radius: 0px 5px 5px 0px;
    width: 200px;

    text-align: left;
    font-size: 500;
    font-size: 0.9rem;
  }

  /* explicacao */

  main .tabela {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  main .tabela #resultado {
    display: flex;
    /* flex-direction: column; */
    gap: 15px;

    height: 50px;
    margin-bottom: 130px;
  }

  main .tabela #resultado-amostra {
    display: flex;
    flex-direction: column;
    gap: 15px;

    height: 50px;
    margin-bottom: 130px;
  }

  main .tabela #resultado-amostra .res {
    display: flex;
    gap: 10px;
  }

  main .tabela #resultado h2, #resultado-amostra h2 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--lilas);
  }

  main .tabela #resultado h3, #resultado-amostra h3 {
    display: flex;
    align-items: start;
    gap: 5px;
  }

  main .tabela #resultado-amostra h3 img {
    width: 12px;
  }

  /* teste */

  main .inputs .explicacao {
    display: flex;
    gap: 10px;
    margin-top: 25px;
  }

  main .inputs .explicacao h2 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-white);

    margin-bottom: 0px;
  }

  main .inputs .explicacao button {
    font-size: 0.9rem;
    font-weight: 600;
    background: none;
    border: none;
    color: var(--verde-agua);
    height: 20px;

    cursor: pointer;
  }

  /* estilo modal */

  .dialog-modal::backdrop, .dialog-P::backdrop, .dialog-erro::backdrop {
    background-color: #00000050;
    backdrop-filter: blur(3px);
  }

  .dialog-modal, .dialog-P, .dialog-erro {
    margin: auto;
    width: 900px;
    height: 600px;
    position: absolute;
    align-items: center;
    background: var(--azul-escuro);
    /* border-radius: 10px; */
    border: none;
  }

  .dialog-modal .content-modal {
    padding: 1rem 5rem 3rem;
  }

  .dialog-modal .content-modal h2, .dialog-P .content-modal h2, .dialog-erro .content-modal h2 {
    margin-bottom: 30px;
    color: var(--color-white);
    font-weight: 800;
    font-size: 1.6rem;
  }

  .dialog-modal .content-modal p {
    color: #ffffffbb;
    font-size: 1rem;
    font-weight: 300;

    margin-bottom: 10px;
  }
  
  .dialog-modal .close-modal, .dialog-P .close-modal-P, .dialog-erro .close-modal-erro {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
  }

  .dialog-modal .close-modal button, .dialog-P .close-modal-P button, .dialog-erro .close-modal-erro button {
    padding: 5px;
    border: none;
    background: var(--azul-escuro);
    cursor: pointer;
  }
  
  .dialog-modal .close-modal button ion-icon, .dialog-P .close-modal-P button ion-icon, .dialog-erro .close-modal-erro button ion-icon {
    font-size: 25px;
    color: var(--roxo);
  }

  .dialog-modal .content-modal, .dialog-P .content-modal, .dialog-erro .content-modal {
    padding: 1rem 5rem 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .dialog-P form, .dialog-erro form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-top: 2rem;
  }

  .dialog-P form .input label, .dialog-erro form .input label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-white);

    margin-bottom: 10px;
  }

  .dialog-P form .input:first-child label, .dialog-erro form .input:first-child label {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .dialog-P form input, .dialog-erro form input {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 8px 10px;
    border-radius: 4px;
    border: 2px solid #0a2e4e;
    background: #08243d;
    margin-top: 10px;

    font-size: 0.9rem;
    color: var(--color-white);
  }

  .dialog-P form input:focus, .dialog-erro form input:focus {
    outline: 2px var(--verde-agua) solid;
  }

  #btnSubmit {
    width: 50%;
    height: 50px;
    border-radius: 4px;
    background: #9333EA;
    border: none;
    margin-top: 30px;

    color: var(--color-white);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;

    transition: 0.3s;
  }

  #btnSubmit:hover {
    background: var(--roxo);
  }

  .dialog-P .content-modal #resultadoP, .dialog-erro .content-modal #resultadoErro {
    display: flex;
    width: 50%;
    margin-top: 3.2rem;
    gap: 1rem;
  }

  .dialog-P .content-modal #resultadoP h2, .dialog-erro .content-modal #resultadoErro h2 {
    font-size: 1.5rem;
    color: var(--verde-agua);
  }

  .dialog-P .content-modal #resultadoP h3, .dialog-erro .content-modal #resultadoErro h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-white);
  }




